/* Section Fitur */
#features-section {
  display: flex;
  padding: 3rem 10rem 3rem 10rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    var(--neutral-900) 0%,
    var(--neutral-700) 100%
  );
  text-align: center;
  color: var(--neutral-50);
  position: relative;
  overflow: hidden;
}
#features-section h2 {
  font-size: 2.5rem;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  color: var(--neutral-900);
}
.feature-item {
  background: var(--neutral-50);
  padding: 2rem;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.feature-item:hover {
  transform: scale(1.05) translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

.feature-item i {
  font-size: 2rem;
}
.features-asset {
  max-width: 20%;
  height: auto;
  position: absolute;
  top: 60px;
  left: -40px;
  transform: rotate(-75deg);
}
